

#nav-links {
    display: none;
}

body {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
    text-align: center;
}

main.upload {
    text-align: left;
}

.upload .banner {
    text-align: center;
}

footer {
    color: gray;
    font-style: italic;
}

.or {
    color: lightgray;
    text-align: center;
    font-style: italic;
}

p {
    line-height: 1.5;
}

.brand {
    font-size: 2rem;
}

nav {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: .5em;
}

.about {
    margin-top: 23vh;
}

@media (min-width: 598px) {
    #hamburger-menu {
        display: none;
    }

    #nav-links {
        display: block;
    }
}