
html {
    height: 100%;
    width: 100%
}

#nav-links {
    display: none;
}

body {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.banner{
    border: 2px solid gray;
    margin: 2rem;
}

h1, h2 {
    color:#4B2E83;
}

main {
    text-align: center;
}

main.upload {
    text-align: left;
}

.upload .banner {
    text-align: center;
}

footer {
    color: gray;
    font-style: italic;
}

.or {
    color: lightgray;
    text-align: center;
    font-style: italic;
}

.card img {
    padding: 0;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.card {
    flex: 0 0 250px;
    background-color: #E8E3D3;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

p {
    line-height: 1.5;
}

.brand {
    font-size: 2rem;
}

nav {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: .5em;
    background-color: #4B2E83; 
    color: white;
    width: 100%;
}


nav a {
    color: white;
}

.dropdown-content input{
    width: 25%;
    justify-content: left;
    margin-bottom: 1em;
    display: inline-flex;
}

.card .btn {
    background-color: #85754D;
}

.card .btn:hover {
    background-color: #E8E3D3;
    color: #4B2E83;
}

/* The following code for dropdown menus was adapted from: https://www.w3schools.com/howto/howto_css_dropdown.asp*/
/* Dropdown Button */
.dropbtn {
    background-color: #85754D;
    color: white;
    padding: 0.5em;
    margin-top: 1em;
    font-size: 16px;
    border: none;
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    justify-content: left;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    justify-content: left;
    background-color: #E8E3D3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #85754D;
}
  /* End of citation */

.search-bar input {
    display: inline-block;
    justify-content: center;
    width: 80%;
}

.about {
    margin-top: 23vh;
}

@media (min-width: 598px) {
    #hamburger-menu {
        display: none;
    }

    #nav-links {
        display: block;
    }

    .search-bar input {
        width: 65%;
    }
}

 
